.checkout-container{
    width: 100%;
    display: flex;
    align-items: stretch;
    height: 100%;
    h1{
        margin-bottom: 0 !important;
    }
}

.listing-container{
    width: 75%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    h1{
        font-family: Lato;
        font-size: 35px;
        color: white;
        margin-bottom: 50px; 
    } 
}

.cart-container{
    width: 25%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.cart-header{
    font-size: 40px;
    color: #707070;
    border-bottom: 1px solid black;
    height: 12.5%;
    max-height: 12.5%;
    box-sizing: border-box;
    padding: 30px 0px 0px 30px; 
    h1{
        font-size: 40px;
        margin: 0;
        font-weight: normal;
    }
}

.cart-items{
    overflow: auto;
    padding: 40px 18px;
    height: 70%;
    box-sizing: border-box;
    border-bottom: 1px solid black
}

.cart-summary{
    //TODO
}

.cart-single-item{
    display: flex;
    margin: 18px auto;
    flex-direction: column;
    align-items: stretch;   
    height: 15%; 
    
}

.single-item-description{
    display: flex;
    height: 90%;
    box-sizing: border-box;
    align-items: stretch;
    padding: 2px 5px;
    p{
        flex-grow: 0;
        align-self: center;
        font-size: 150%;
        margin: 0 2px;
        color: #707070;
    }
}

.cart-item-quantity{
    flex-grow: 0;
    width: 47px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    font-family: Lato;
    color: #707070; 
}

.cart-item-quantity::-webkit-inner-spin-button, 
.cart-item-quantity::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.cart-item-quantity:hover::-webkit-inner-spin-button, 
.cart-item-quantity:hover::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.cart-item-image{
    height: 100%;
    flex-grow: 0;
}

.cart-item-details{
    flex-grow: 1;
    width: 60%;
    display: flex;
    flex-direction: column;
    color: #707070;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    background-clip: content-box;
    h1{
        font-size: 18px;
        margin: 0;
    }
    h2{
        font-size: 18px;
        margin: 0;
    }
}

.cart-item-details:after{
    content: ' ';
    background-color: white;
    height: 100%;
    width: 20px;
    position: absolute;
    border-right: 1px solid #707070;
    right: 0;
    top: 0;
}

.cart-item-subtotal{
    display: flex;
    font-weight: bold;
    width: 15%;
}

.single-item-remove{
    height: 10%;
    box-sizing: border-box;
    text-align: right;
    a{
        text-decoration: none;
        cursor: pointer;
        color: red;

    }
}

.cart-summary{
    text-align: right;
    padding: 0;
    padding-right: 20px;

}

.selected-customer{
    margin: 0 10px;
    color: white;
    text-align: left;
    font-size: 20px;
    p{
        margin: 0;
    }
}

.filter-button{
    margin: 5px 10px;
}

.selected{
    background: #dbdada,
}

input[type="text"],
input[type="password"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-bottom: 1px solid rgba(112, 112, 112, 0.5);
    border-radius: 3px;
    font-family: Gadugi;
}

.form-group{
    label, input, button, select{
        display: block;
        max-width: 100%;
    }
    input{
        width: 100%;
    }
    label{
        margin: 5px 10px;
    }
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 0;
}

.form-group:first-child{
    flex-grow: 1;
}