$sidebar-width: 25vw;

.time-counter{
    position: fixed;
    right: 0;
    margin-top: 50px;
    margin-right: 20px;
    color: white;
    font-family: Lato;
    text-shadow: 0px 3px 6px #00000016;
    h1{
        font-size: 39px;
        margin: 0;    
    }
    h2{
        margin: 0;
    }
}

.frame-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background: url(../img/bacgkround.png);
    background-repeat: repeat-y;
    background-size: cover; 
    background-attachment: fixed;
}
.frame-navbar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 40px; 
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid #707070;
}

.navbar-hamburger{
    position: absolute;
    left: 0;
    padding-left: 30px;
    margin-right: 50px;
    cursor: pointer;
}

.navbar-logo{
    margin: 0 auto;
}

.navbar-logo p{
    font-size: 30px;
    font-family: Segoe UI;
    color: #707070;
    padding-left: 30px;
    background: url(../img/logo.png) left center no-repeat;
    background-size: 30px 30px;
}

.navbar-logout{
    position: absolute;
    right: 0;
    padding: 0 35px;
    font-size: 18px;
    font-family: "Lucida Sans Unicode";
    color: #100E0E;
    opacity: 0.5;
    border-left: 1px solid;
}

.navbar-logout:hover{
    cursor: pointer;
}

.sidebar{
    box-sizing: border-box;
    position: absolute;
    left: -($sidebar-width);
    z-index: 9999;
    width: $sidebar-width;
    min-height: 100vh;
    background: #1F1F1F;
    border-right: 0.8px solid #707070;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.sidebar-header{
    min-height: 17vh;
    background: #EF60A3; 
} 

.sidebar-user{
     display: flex;
     flex-direction: column;
     justify-content: center; 
     position: relative;
     box-sizing: border-box;
     padding-left: 100px;
     margin: 0;
     width: 200px;
     left: 10%;
     top: 2vh;
     height: 80px;
     background: url(../img/svg/users.svg) no-repeat 80px 80px;
     background-position: left top;
     color:white;
     font-family: 'Courier New Header';
     h1{
         margin: 0;
         font-size: 1.5em;
         width: 0px;
     }
     h2{
         margin: 0;
         font-size: 1em;
         width: 0px;
     }
}

.sidebar-link{
    display: block;
    height: 9vh;
    border:0;
    border-bottom: 1px solid #707070; 
    box-sizing: border-box;
    font-size: 22px;
    font-family: Lato;
    padding: 15px 2em;
    text-decoration: none;
    color: white;
}

.sidebar-link:active{
    background: #707070;
}

.sidebar-link:last-of-type{
    display: "none";
}
.open{
    animation-name: open;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.close{
    animation-name: close;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes open{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(($sidebar-width), 0);
    }
}

@keyframes close{
    0%{
        transform: translate(($sidebar-width),0);
    }
    100%{
        transform: translate(0, 0);
    }
}

@media (max-width: 790px){
    .time-counter{
        display: none;
    }
    .sidebar{
        width: 90vw;
        left: -90vw;
    }
    .navbar-hamburger{
        padding: 0 10px;
    }
    .navbar-logout{
        display: none;
    }
    .sidebar-link:last-of-type{
        display: block;
    }
    @keyframes open{
        0%{
            transform: translate(0,0);
        }
        100%{
            transform: translate(90vw, 0);
        }
    }
    
    @keyframes close{
        0%{
            transform: translate(90vw,0);
        }
        100%{
            transform: translate(0, 0);
        }
    }
}

main{
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0;
    right: 0;
    overflow: auto;
}

.frame-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items:center;
    border-top: 0.5px solid #707070;
}



.github-link{
    padding-left: 22px;
    background: url(../img/github.png) no-repeat;
    background-position: left center; 
    background-size: 25px;
    color: black;
}

.github-link:hover{
    color: gray;
    background: url(../img/github-hover.png) no-repeat;
    background-position: left center; 
    background-size: 25px;
}

.github-link a{
    text-decoration: none;
    color: inherit;
}

html{
    height: 100%;
}
body{
    height: 100%;
}
#root{
    height: 100%;
}